*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid red;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
header{
    height: 100px;
    width: 1512px;
    background-color: #FFF159;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    background-color: #EBEBEB;
}
.div-center{
    height: 92px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
.order{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
.sub-div{
    gap: 60px;
}
.div-search{
   width: 600px;
   height: 39px;
   left: 1px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: white;
   border-radius: 2px;
   border-color: transparent;
}
.div-down{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.placeholder-search{
    width: 237px;
    height: 23px;
    left: 1px;
    border-radius: 2px;
    border-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center
}
.div-button{
    width: 46px;
    height: 39px;
    left: 553px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-search{
    width: 46px;
    height: 39px;
    left: 553px;
    background-color: white;
    border-radius: 2px;
    border-color: transparent;
}
.div-options{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-left: 6px;
}
.buttons-letters{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #33333399;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
}
.button-one{
    width: 120px;
    height: 20px;
    left: 18px;
    color:  #333333;
    background-color: transparent;
    border-color: transparent;
}
.select-categorias{
    width: 79px;
    height: 22px;
    background-color: transparent;
    border-color: transparent;
}
.div-buttons-two{
    padding-right: 50px;
}
.buttons-two{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color:  #333333;
    align-items:center;
    background-color: transparent;
    border-color: transparent;
}
.div-main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}  
.div-novedades{
    display: inline-block;
}  
.div-buttons-novedades{
    position: absolute;
    top: 410px;
    left: 727px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 5px;
}
.buttons-novedades{
    width: 6px;
    height: 6px;
    left: 2px;
    border-radius: 3px;
    border-width: 1.5px;
    border-color: white;
    background: #00000040;
}
.div-pay{
    background-color: #FFFFFF;
    width: 1184px;
    height: 90px;
    top: 380px;
    left: 164px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.div-button-pay{
    width: 305px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    padding: 20px;
}
.div-pay-text{
    display: flex;
    flex-direction: column;
}
.letters-pay1{
    font-family:'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    align-items:center
}
.letters-pay2{
    font-family:'Roboto';
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    align-items:center;
    color: #3483FA;
}


